body {
  background: hsl(217, 54%, 11%);
  width: 1440px;
}

h1 {
  color: white;
  display: inline;
  text-align: left;
  line-height: 2
}

hr {
  border-style: solid;
  color: hsl(215, 32%, 27%)
}

table {
  color: hsl(215, 51%, 70%);
  font-size: 18px;
}

.content {
  color: hsl(215, 51%, 70%);
  text-align: left;
  font-size: 18px;
}

.card {
  background-color: hsl(216, 50%, 16%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  border-radius: 20px;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px
}

.attribution {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

.card img {
  width: 75%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer {
  color: hsl(215, 51%, 70%);
  font-size: 12px;
  display: inline;
  line-height: 5
}

.avatar {
  width: 15%;
  height: 15%;
  float: left;
  margin-top: 10px;
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 20px

}

/********************table info*********************

<div class="content2">
  <table>
    <tr>
      <td><svg width="11" height="18" xmlns="http://www.w3.org/2000/svg">
          <path d="M11 10.216 5.5 18 0 10.216l5.5 3.263 5.5-3.262ZM5.5 0l5.496 9.169L5.5 12.43 0 9.17 5.5 0Z" fill="#00FFF8" />
        </svg>
        0.041 ETH</td>
        <td>3 days left</td>
    </tr>


  </table>

</div>

//**********
